Checks: >
  -*,
  bugprone-*,
  performance-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  readability-*,
  cppcoreguidelines-*,
  cert-*,
  concurrency-*,
  misc-*

WarningsAsErrors: "*"

HeaderFilterRegex: "include/.*"

FormatStyle: file
